.game{
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    height: 20%;
    display:block;
}
.container{
    margin:30px 0;
    height:400px;
    width:400px;
    /* border:1px solid black; */
    display:block;
}
.cell:hover,.selected{
    box-shadow: 0px 0px 4px rgb(0,0,0);
}
.cell{
    display:inline-flex;
    justify-content: space-between;
    height:32.5%;
    width:32.6%;
    border-radius: 10%;
    box-shadow: 2px 2px 10px rgb(0,0,0);
    /* border:1px solid red; */
    /* position:relative; */
    /* display: inline-block; */

    background: #e5e5e5;
  /* -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1; */
   outline: none;
}

.game-restart{
      border:1px solid black;
      padding:0.8% 1%;
      border-radius: 5%;
      background-color: rgb(0,0,0);
      color:#e5e5e5;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      box-shadow:2px 2px 5px #413f3f;
      cursor:pointer;
}
.game-restart:hover{
    box-shadow: 1px 1px 3px #413f3f;
    outline: none;
    background-color: #1a1919;
}

.game-status{
    /* border:1px solid black; */
    width:30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /* padding:2%; */
}



@media only screen and (max-width: 700px) {
    .container {
        height:300px;
        width:300px;
    }
    .cell{
        height:32.4%;
        width:32.4%;
    }
    .game-restart{
        padding:1.5%;
    }
}
@media only screen and (max-width: 400px) {
    .container {
        margin-top: 25px;;
        height:200px;
        width:200px;
    }
    .cell{
        height:32.0%;
        width:32.0%;
    }
    #title{
        font-size:x-small;
    }
  }
