@import url('https://fonts.googleapis.com/css?family=Lobster');

body{overflow: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab,#8db925 ,#23d5ab);
 background-size: 400% 400%;
 -webkit-animation: gradientBG 50s ease infinite;
         animation: gradientBG 50s ease infinite;
}
@-webkit-keyframes gradientBG {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
   }
   @keyframes gradientBG {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
   }

.game{
    display:none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    font-size: large;
    height: 20%;
    display:block;
    font-family: 'Lobster', serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-shadow:0px 0px 2px #666464;
}
.container{
    margin:30px 0;
    height:400px;
    width:400px;
    /* border:1px solid black; */
    display:block;
}
.cell:hover,.selected{
    box-shadow: 0px 0px 4px rgb(0,0,0);
}
.cell{
    display:inline-flex;
    justify-content: space-between;
    height:32.5%;
    width:32.6%;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgb(0,0,0);
    text-align: center;
    /* border:1px solid red; */
    /* position:relative; */
    /* display: inline-block; */

    background: #e5e5e5;
  /* -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1; */
   outline: none;
}

.game-restart{
      border:1px solid black;
      padding:0.8% 1%;
      border-radius: 5%;
      background-color: rgb(0,0,0);
      color:#e5e5e5;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      box-shadow:2px 2px 5px #413f3f;
      cursor:pointer;
}
.game-restart:hover{
    box-shadow: 1px 1px 3px #413f3f;
    outline: none;
    background-color: #1a1919;
}

.game-status{
    /* border:1px solid black; */
    width:40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /* padding:2%; */
}



@media only screen and (max-width: 700px) {
    .container {
        height:300px;
        width:300px;
    }
    .cell{
        height:32.4%;
        width:32.4%;
    }
    .game-restart{
        padding:1.5%;
    }
}
@media only screen and (max-width: 400px) {
    .container {
        margin-top: 25px;;
        height:200px;
        width:200px;
    }
    .cell{
        height:31.5%;
        width:31.5%;
    }
    #title{
        margin-top:10px;
        font-size:medium;
    }
    .game-status{
        font-size: medium;
    }
  }
.win{
    background-color: #39f788;
}
.draw{
    background-color: #fa817d;
}
